<ion-header>
  <ion-toolbar color="mango">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          
        <ion-title>maps</ion-title>
        <ion-buttons slot="end">
          <ion-toggle   mode="ios" color="success"   checked="checked" (ionChange)="mapsValue($event)"></ion-toggle>
        </ion-buttons>
    
    
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-row style="height: 50px;padding-top: 14px;justify-content: space-around; margin-bottom: 26px;">
    <ion-text> latitude : {{latitude}}</ion-text>
    <ion-text>longitude : {{longitude}}</ion-text>
    <ion-button (click)="parametre()" >Restorique</ion-button>
  </ion-row>
  <div class="map" id="map" style="height:90%; width: 100%;"></div>

</ion-content>

