
<ion-header>
  <ion-toolbar color="mango">
    <ion-title class="center" >Historique </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let  p of positions" style="    border: solid 3px black;margin: 12px;">
    <ion-item>
      <ion-label>longitude </ion-label>
      <ion-label>{{p.postion.lat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>longitude </ion-label>
      <ion-label>{{p.postion.lng}}</ion-label>
    </ion-item>
  
    
  </ion-list>
</ion-content>
